@import "../size";

.buttonContainer {
  @include font-size-n(6);

  position: relative;
  display: block;
  width: fit-content;
  height: 28px;
  line-height: 1;
  text-decoration: none;

  &::before {
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: -1;
    display: block;
    width: 100%;
    height: 26px;
    content: "";
    border: 1px solid black;
    border-radius: 4px;
  }

  &:active {
    color: black;

    &::before {
      display: none;
    }

    .buttonInner {
      position: relative;
      top: 2px;
      left: 2px;
      height: 26px;
    }
  }
}

.icon {
  position: relative;
  top: 1px;
  display: inline-block;
  color: black;
  stroke-width: 1px;
}

.beforeIcon {
  width: 16px;
  height: 16px;

  @extend .icon;
}

.afterIcon {
  width: 10px;
  height: 10px;
  margin-left: 2px;
  color: gray;
  stroke-width: 2px;

  @extend .icon;
}

.buttonInner {
  display: inline-block;
  height: 26px;
  padding: 4px;
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
}
